 
!dark = #474747
 
=transitions
  :-webkit-transition-property opacity, -webkit-transform, color, background-color, padding
  :-webkit-transition-duration 0.1s
  :-webkit-transition-timing-function ease-out

html
  :background #1c1c1c url(images/bg.tile.jpg)
  
body
  :margin 0
  :font 14px/1.4 "Helvetica Neue", "Lucida Grande", "Arial"
  :font-size 14px
  :line-height 1.5
  :-webkit-text-stroke 1px rgba(0, 0, 0, 0.1)
  :-moz-text-stroke 1px rgba(0, 0, 0, 0.1)
  :background url(images/bg.jpg) 50% 0 no-repeat
  :color= !dark
  
*
  :outline none
  
a img
  :border none !important
  
a
  :font-weight bold
  :color white
  
  &:hover
    :color #0091FF
    
h1
  :margin 0
  :padding 0
 
#ribbon
  :position absolute
  :top 0
  :right 0
 
#container
  :margin 0 auto
  :width 800px